project:
  type: website
  preview:
    port: 4000

theme:
  light: flatly
  dark: darkly

website:
  title: "Climatology"
  favicon: images/logo.png
  site-url: "https://mdgrossi.github.io/climatology"
  repo-url: "https://github.com/mdgrossi/climatology"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: Data
        href: data.qmd
      - text: Methods
        href: methods.qmd
    right:
      - text: "More"
        menu:
          - href: https://www.github.com/mdgrossi
            text: GitHub
            icon: github
          - href: https://www.linkedin.com/in/matthewgrossi
            text: LinkedIn
            icon: linkedin
          - href: https://www.youtube.com/@seaswellsnippets
            text: YouTube
            icon: youtube
    tools:
      - icon: github
        menu:
          - text: Source Code
            url: https://www.github.com/mdgrossi/climatology
          - text: Report a Bug
            url: https://github.com/mdgrossi/climatology/issues
  sidebar:
    style: "docked"
    subtitle: Available Sites
    contents:
      - text: "About the Data"
        href: data.qmd
      - text: "Methodology"
        href: methods.qmd
      - section: Demonstration
        href: demos/index.qmd
        contents:
          - demos/NOAA-CO-OPS-data.ipynb
          - demos/NOAA-CO-OPS-records.ipynb
          - demos/NOAA-CO-OPS-plots.ipynb
      - text: "Shout Out"
        href: acknowledgements.qmd
  page-navigation: true
  back-to-top-navigation: true
  repo-actions: [source, issue]
  repo-branch: main
  page-footer:
    left: "Copyright 2024, M.D. Grossi"
    right:
      - href: https://www.github.com/mdgrossi
        icon: github
      - href: https://www.linkedin.com/in/matthewgrossi
        icon: linkedin
      - href: https://www.youtube.com/@seaswellsnippets
        icon: youtube
    background: light

format:
  html:
    theme: cosmo
    # theme: default
    css: styles.css
    toc: false
    embed-resources: true



