project:
  type: website
  preview:
    port: 4000
  render:
    - "index.qmd"
    - "data.qmd"
    - "methods.qmd"
    - "acknowledgements.qmd"
    - "demos/*"
    - "stations/beaufort/*.qmd"
    - "stations/virginiakey/*.qmd"
    - "stations/woodshole/*.qmd"
    - "archived/baystlouis/*.qmd"
    - "archived/lewes/*.qmd"
    - "archived/naples/index.qmd"
    - "!NOAA-CO-OPS-Climatology.ipynb"

theme:
  light: sandstone
  dark: sandstone

website:
  title: "Climatology"
  favicon: images/logo.png
  site-url: "https://mdgrossi.github.io/climatology"
  repo-url: "https://github.com/mdgrossi/climatology"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: Learn more
        href: data.qmd
      - text: Stations
        menu:
          - text: Beaufort, NC
            href: stations/beaufort/index.qmd
          - text: Virginia Key, FL
            href: stations/virginiakey/index.qmd
          - text: Woods Hole, MA
            href: stations/woodshole/index.qmd
          - text: Lewes, DE
            href: archived/lewes/index.qmd
          - text: Bay St. Louis, MS (semi-active)
            href: archived/baystlouis/index.qmd
          - text: Naples, FL (coming soon)
            href: archived/naples/index.qmd
    # right:
    #   - text: "More"
    #     menu:
    #       - href: https://www.github.com/mdgrossi
    #         text: GitHub
    #         icon: github
    #       - href: https://www.linkedin.com/in/matthewgrossi
    #         text: LinkedIn
    #         icon: linkedin
    #       - href: https://www.youtube.com/@seaswellsnippets
    #         text: YouTube
    #         icon: youtube
    tools:
      - icon: github
        menu:
          - text: Source Code
            url: https://www.github.com/mdgrossi/climatology
          - text: Report a Bug
            url: https://github.com/mdgrossi/climatology/issues
  sidebar:
    style: "docked"
    subtitle: Available Sites
    contents:
      - text: "About the Data"
        href: data.qmd
      - text: "Methodology"
        href: methods.qmd
      - section: Behind the Scenes
        href: demos/index.qmd
        contents:
          - demos/NOAA-CO-OPS-data.ipynb
          - demos/NOAA-CO-OPS-records.ipynb
          - demos/NOAA-CO-OPS-plots.ipynb
      - text: "Shout Out"
        href: acknowledgements.qmd
  page-navigation: true
  back-to-top-navigation: true
  # repo-actions: [source, issue]
  repo-branch: main

format:
  html:
    css: styles.css
    toc: false
    embed-resources: true



